@charset "UTF-8";
* {
  font-family: 'Arial';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: #ffebc8;
  text-decoration: none; }

body {
  min-height: 100vh;
  background: #a90329;
  background: -webkit-radial-gradient(center, ellipse, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-radial-gradient(center, ellipse, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: radial-gradient(ellipse at center, #a90329 0%, #8f0222 44%, #6d0019 100%); }

.block {
  width: 360px;
  height: 200px;
  position: absolute;
  left: 30vh;
  top: 30vh;
  border-radius: 24px 0;
  background: #ffebc8;
  -webkit-box-shadow: -10px 10px 16px 0px rgba(255, 235, 200, 0.1);
  box-shadow: -10px 10px 16px 0px rgba(255, 235, 200, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 30deg);
  transform: perspective(600px) rotate3d(0, 1, 0, 30deg); }
  .block:hover {
    -webkit-box-shadow: -10px 10px 50px 0px rgba(255, 235, 200, 0.2);
    box-shadow: -10px 10px 50px 0px rgba(255, 235, 200, 0.2); }
  .block:after {
    content: '';
    width: 100%;
    height: 150%;
    position: absolute;
    left: 42%;
    top: 0;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    background: #4B0F1D; }

.content {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  left: 8px;
  top: 8px;
  padding: 24px;
  border-radius: 18px 0;
  background: #A91B39;
  z-index: 2;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255, 235, 200, 0.3);
  box-shadow: inset 0px 0px 10px 0px rgba(255, 235, 200, 0.3);
  overflow: hidden; }
  .content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 235, 200, 0.3);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    -webkit-transform: rotate(-60deg) translateY(-180%);
    -ms-transform: rotate(-60deg) translateY(-180%);
    transform: rotate(-60deg) translateY(-180%); }
  .content h1 {
    color: transparent;
    text-shadow: -5px 5px 5px rgba(255, 235, 200, 0.3);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out; }
    .content h1:after {
      content: '|||-e-||I-o-λ';
      position: absolute;
      left: 0;
      top: 0;
      color: #ffebc8;
      -webkit-transition: 0.35s ease-in-out;
      -o-transition: 0.35s ease-in-out;
      transition: 0.35s ease-in-out;
      text-shadow: none; }
  .content p {
    opacity: 1;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    text-shadow: 0px 0px 15px rgba(255, 235, 200, 0.5); }
    .content p:after {
      content: "!!iIIIi||||i!|||||II||Ii!";
      position: absolute;
      left: 0;
      top: 0;
      color: transparent;
      -webkit-transition: color 0.0s ease-in-out;
      -o-transition: color 0.0s ease-in-out;
      transition: color 0.0s ease-in-out;
      -webkit-transition-delay: 0.0s;
      -o-transition-delay: 0.0s;
      transition-delay: 0.0s;
      z-index: -1;
      text-shadow: none; }
  .content:hover {
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(255, 235, 200, 0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(255, 235, 200, 0.5);
    background: #B01B3A; }
    .content:hover:after {
      -webkit-transform: rotate(-60deg) translateY(180%);
      -ms-transform: rotate(-60deg) translateY(180%);
      transform: rotate(-60deg) translateY(180%); }
    .content:hover h1 {
      text-shadow: none; }
    .content:hover h1:after {
      -webkit-transform: perspective(100px) translate3d(16px, 0px, 12px);
      transform: perspective(100px) translate3d(16px, 0px, 12px);
      text-shadow: 0px 0px 15px rgba(55, 35, 0, 0.1); }
    .content:hover p {
      color: #4B0F1D;
      -webkit-transform: translate3d(110px, 80px, 0);
      transform: translate3d(110px, 80px, 0);
      opacity: 0.7; }
      .content:hover p:after {
        -webkit-transform: translateX(calc(-100% - 24px));
        -ms-transform: translateX(calc(-100% - 24px));
        transform: translateX(calc(-100% - 24px));
        color: #ffebc8;
        -webkit-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      .content:hover p span {
        color: #4B0F1D;
        text-shadow: none; }
